*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    outline: none;
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
}
header{
    height: 100px;
    width: 100vw;
    border-bottom: 2px solid #dddd;
    text-align: center;
}
.admin-content{
    padding-top: 50px;
    display: flex;
}
.admin-content-left{
    background-color: #dddddd;
    width: 20%;
    height: 100vh;
    padding: 30px 0 0 12px;
}
.admin-content-left> ul> li> a{
    font-weight: bold;
}
.admin-content-left ul li{
    margin: 6px 0;
}
.admin-content-left ul ul{
    margin-left: 20px;
}
.admin-content-right{
    width: 80%;
    padding: 30px 0 0 12px;

}
.admin-content-right-cartegory-add input{
    height: 30px;
    width: 400px;
    padding-left: 12px;
    margin-top: 20px;
}
.admin-content-right-cartegory-add  button{
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: brown;
    border: none;
    color: white;
}
.admin-content-right-cartegory-add  button:hover{
    background-color: transparent;
    border: 1px solid brown;
    color:brown;
}
/*-------------- cartegory lít ---------------*/
.admin-content-right-cartegory-list table {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.admin-content-right-cartegory-list  table tr th,td {
    border: 1px solid #dddddd;
}
table {
    border-collapse: collapse;
}
/*-------------------------admin product --------------*/
.admin-content-right-product-add h1{
    margin-bottom: 25px;
    color: red;
}
.admin-content-right-product-add input, select {
    width: 200px;
    height: 30px;
    display: block;
    margin: 6px 0 12px;
    padding-left: 15px;;
}
.editor-container {
    width: 600px;  /* Thay đổi theo yêu cầu */
    overflow: hidden; /* Đảm bảo không bị tràn */
}

/* Điều chỉnh chiều rộng và chiều cao của CKEditor */
.ck-editor__editable {
    width: 100% !important; /* Chiếm 100% chiều rộng của editor-container */
    height: 200px !important; /* Chiều cao cố định */
    min-height: 150px !important;
}
.admin-content-right-product-add button{
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: brown;
    border: none;
    color: white;
}
.admin-content-right-product-add button:hover{
    background-color: transparent;
    border: 1px solid brown;
    color:brown;
}